<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
            //this hibernate we have to use the database details like id password and your port number where your database is connecton which port basically...
 
        <!-- Set URL -->
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/house</property>
 
        <!-- Set User Name -->
        <property name = "hibernate.connection.username">root</property>
 
        <!-- Set Password -->
        <property name = "hibernate.connection.password">#########</property>//this password is not shown because of the internal privacy..
 
        <!-- Set Driver Name -->
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
 
        <property name = "hibernate.show_sql">true</property>
        
         <property name="hbm2ddl.auto">create</property>
 
    </session-factory>
</hibernate-configuration>
